html {
  --accent: #f2994a;
  --dark: #222222;
  --medium: #c4c4c4;
  --bright: #ffffff;
  --shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

  --font: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body > header,
body > main {
  max-width: 100%;
}

/*generic classes*/

.title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--bright);
}

.tittle-inverse {
  color: var(--accent);
}

.action {
  background-color: var(--dark);
  color: var(--bright);
  text-decoration: none;
  padding: 0.25rem 1rem;
}

/* Header */

body > header {
  background-image: url("/img/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

body > header h1 {
  flex-grow: 1;
  text-shadow: var(--shadow);
}

body > header nav ul {
  list-style: none;
  display: flex;
  margin: 1rem;
}

body > header nav ul li {
  margin: 0 0.5rem;
}

/* Main */

main > section {
  padding: 2rem 1rem;
  background-color: var(--accent);
}

main > section h1 {
  margin-bottom: 1rem;
}

/* cows list */

section#consolas ul {
  list-style: none;
}

section#consolas ul li article {
  margin-bottom: 1rem;
}

section#consolas ul li article figure img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  display: block;
}

section#consolas ul li article section {
  background-color: var(--dark);
  padding: 1rem;
  color: var(--bright);
}

section#consolas ul li article section h1 {
  text-align: center;
  margin-bottom: center;
}

section#consolas ul li article a {
  background-color: var(--medium);
  display: block;
  padding: 1rem;
  text-align: center;
  color: var(--dark);
  text-decoration: none;
}

/* form */

section#form {
  background-color: var(--bright);
  margin-bottom: 5rem;
}

section#form form fieldset {
  border: 0;
  margin-bottom: 0.5rem;
}

section#form form fieldset label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

section#form form input,
section#form form textarea,
section#form form select {
  width: 100%;
  border: 2px solid var(--dark);
  padding: 0.25rem;
  background-color: var(--accent);
  color: var(--bright);
}

section#form form fieldset.inline label {
  display: inline;
}

section#form form fieldset.inline input {
  width: auto;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }

  .title {
    font-size: 2.5rem;
  }

  body > header {
    min-height: 25rem;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  body > header nav {
    flex-grow: 0;
    order: -1;
  }

  section#intro p {
    columns: 2;
  }

  section#consolas ul {
    display: flex;
  }

  section#consolas ul li:nth-child(2) {
    margin: 0 1 rem;
  }

  section#consolas ul li article figure img {
    height: 15rem;
  }

  section#form form {
    display: flex;
    flex-wrap: wrap;
  }

  section#form form input,
  section#form form textarea,
  section#form form select {
    padding: 0.5rem;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; */
  }

  section#form fieldset {
    width: 50%;
    padding: 0.5rem;
  }

  section#form fieldset.wide {
    width: 100%;
  }

  section#form button {
    margin: 0 0.5rem;
  }
}
